/* BASIC PAGE STYLE */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f3f3f3;
}

/* HEADER */
.header {
  background: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.welcome {
  font-size: 18px;
  color: #555;
}

/* MAIN CONTAINER */
.container {
  width: 90%;
  max-width: 600px;
  margin: 25px auto;
}

/* CREATE POST + SEARCH */
.create-post,
.search-filter {
    /* width: 100%; */
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* INPUTS */
.input {
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

.input:focus {
  outline: none;
  border-color: #4285f4;
}

/* BUTTON */
.btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #4285f4;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

.btn:hover {
  background: #3274db;
}

/* POSTS */
.posts .post {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* POST CONTENT */
.post-header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 10px;
  color: #777;
}

.post img {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

/* LIKE + DELETE BUTTONS */
.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.like-btn,
.delete-btn {
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
}

.like-btn:hover {
  color: red;
}

.delete-btn:hover {
  color: #d11a2a;
}
